# imports

In [122]:
import pandas as pd
import numpy as np
import re

# files paths

In [2]:
food_des_path = "data/FOOD_DES.txt"
food_groups_path = "data/FD_GROUP.txt"
nut_data_path = "data/NUT_DATA.txt"
nut_def_path = "data/NUTR_DEF.txt"

all_paths = [food_des_path, food_groups_path, nut_data_path, nut_def_path]

# tilde removal

In [5]:
#text columns are indicated by '~', remove them
for p in all_paths :
    string = open(p).read()
    new_str = re.sub('[~]', '', string)
    open(p, 'w').write(new_str)

# Food group description

In [55]:
columns = ["food_group_id", "food_group_name"]

food_groups = pd.read_csv(food_groups_path, sep="^", encoding="ISO-8859-1", names=columns, header=None)

food_groups.set_index("food_group_id", inplace=True)

food_groups

                                   food_group_name
food_group_id
100                         Dairy and Egg Products
200                               Spices and Herbs
300                                     Baby Foods
400                                  Fats and Oils
500                               Poultry Products
600                     Soups, Sauces, and Gravies
700                    Sausages and Luncheon Meats
800                              Breakfast Cereals
900                        Fruits and Fruit Juices
1000                                 Pork Products
1100             Vegetables and Vegetable Products
1200                         Nut and Seed Products
1300                                 Beef Products
1400                                     Beverages
1500                Finfish and Shellfish Products
1600                   Legumes and Legume Products
1700                 Lamb, Veal, and Game Products
1800                                Baked Products
1900                                        Sweets
2000                       Cereal Grains and Pasta
2100                                    Fast Foods
2200               Meals, Entrees, and Side Dishes
2500                                        Snacks
3500           American Indian/Alaska Native Foods
3600                              Restaurant Foods

# food description table

In [142]:
use_cols = [0, 1, 2, 3, 4]

columns = ["food_id", "food_group_id", "long_description", "short_description", "common_names"]

food_des = pd.read_csv(food_des_path, sep="^", encoding="ISO-8859-1", names=columns, usecols=use_cols, header=None)

food_des.head(34)

,food_id,food_group_id,long_description,short_description,common_names
0,1001,100,"Butter, salted","BUTTER,WITH SALT",NaN
1,1002,100,"Butter, whipped, with salt","BUTTER,WHIPPED,W/ SALT",NaN
2,1003,100,"Butter oil, anhydrous","BUTTER OIL,ANHYDROUS",NaN
3,1004,100,"Cheese, blue","CHEESE,BLUE",NaN
4,1005,100,"Cheese, brick","CHEESE,BRICK",NaN
5,1006,100,"Cheese, brie","CHEESE,BRIE",NaN
6,1007,100,"Cheese, camembert","CHEESE,CAMEMBERT",NaN
7,1008,100,"Cheese, caraway","CHEESE,CARAWAY",NaN
8,1009,100,"Cheese, cheddar (Includes foods for USDA's Foo...","CHEESE,CHEDDAR",NaN
9,1010,100,"Cheese, cheshire","CHEESE,CHESHIRE",NaN
10,1011,100,"Cheese, colby","CHEESE,COLBY",NaN
11,1012,100,"Cheese, cottage, creamed, large or small curd","CHEESE,COTTAGE,CRMD,LRG OR SML CURD",NaN
12,1013,100,"Cheese, cottage, creamed, with fruit","CHEESE,COTTAGE,CRMD,W/FRUIT",NaN
13,1014,100,"Cheese, cottage, nonfat, uncreamed, dry, large...","CHEESE,COTTAGE,NONFAT,UNCRMD,DRY,LRG OR SML CURD",NaN
14,1015,100,"Cheese, cottage, lowfat, 2% milkfat","CHEESE,COTTAGE,LOWFAT,2% MILKFAT",NaN
15,1016,100,"Cheese, cottage, lowfat, 1% milkfat","CHEESE,COTTAGE,LOWFAT,1% MILKFAT",NaN
16,1017,100,"Cheese, cream","CHEESE,CREAM",NaN
17,1018,100,"Cheese, edam","CHEESE,EDAM",NaN
18,1019,100,"Cheese, feta","CHEESE,FETA",NaN
19,1020,100,"Cheese, fontina","CHEESE,FONTINA",NaN
20,1021,100,"Cheese, gjetost","CHEESE,GJETOST",NaN
21,1022,100,"Cheese, gouda","CHEESE,GOUDA",NaN
22,1023,100,"Cheese, gruyere","CHEESE,GRUYERE",NaN
23,1024,100,"Cheese, limburger","CHEESE,LIMBURGER",NaN
24,1025,100,"Cheese, monterey","CHEESE,MONTEREY",NaN
25,1026,100,"Cheese, mozzarella, whole milk","CHEESE,MOZZARELLA,WHL MILK",NaN
26,1027,100,"Cheese, mozzarella, whole milk, low moisture","CHEESE,MOZZARELLA,WHL MILK,LO MOIST",NaN
27,1028,100,"Cheese, mozzarella, part skim milk","CHEESE,MOZZARELLA,PART SKIM MILK",NaN
28,1029,100,"Cheese, mozzarella, low moisture, part-skim","CHEESE,MOZZARELLA,LO MOIST,PART-SKIM",NaN
29,1030,100,"Cheese, muenster","CHEESE,MUENSTER",NaN
30,1031,100,"Cheese, neufchatel","CHEESE,NEUFCHATEL",NaN
31,1032,100,"Cheese, parmesan, grated","CHEESE,PARMESAN,GRATED",NaN
32,1033,100,"Cheese, parmesan, hard","CHEESE,PARMESAN,HARD",NaN
33,1034,100,"Cheese, port de salut","CHEESE,PORT DE SALUT",NaN

# we decide to drop :

* Baby food (300)
* dressing in 400
* soup in 600
* Breakfast Cereals (800)
* Beverages (1400)
* Baked products (1800) 
* Sweets (1900) except Baking products (chocolate)
* Fast Foods (2100)
* Meals, Entrees, and Side Dishes (2200)
* Snacks (2500)
* Restaurant food (3600)

In [134]:
print(food_des.count(), "\n")

#drop whole categories
food_des = food_des[~food_des["food_group_id"].isin([300, 800, 1400, 1800, 2100, 2200, 2500, 3600])]

print(food_des.count(), "\n")

#drop parts of categories
food_des = food_des[~ ((food_des["food_group_id"]==400) & (food_des["long_description"].str.contains("dressing")))]
food_des = food_des[~ ((food_des["food_group_id"]==600) & (food_des["long_description"].str.contains("soup")))]
food_des = food_des[~ ((food_des["food_group_id"]==1900) & (~food_des["long_description"].str.contains("Baking")))]

print(food_des.count())

food_id              7793
food_group_id        7793
long_description     7793
short_description    7793
common_names         1070
dtype: int64

food_id              5692
food_group_id        5692
long_description     5692
short_description    5692
common_names          923
dtype: int64

food_id              5277
food_group_id        5277
long_description     5277
short_description    5277
common_names          918
dtype: int64

# Studying food decription categories

In [141]:
#look at long descriptions, extract keywords and count them
categories = food_des["long_description"].apply(lambda x : [c.strip() for c in x.split(",")]).aggregate(sum)
pd.Series(categories).value_counts()[:60]

raw                              1326
Beef                              413
separable lean and fat            326
canned                            294
separable lean only               279
boneless                          230
trimmed to 0" fat                 183
trimmed to 1/8" fat               172
imported                          153
Fish                              148
Pork                              144
choice                            136
fresh                             130
Lamb                              129
solids and liquids                109
all grades                        102
select                            101
frozen                            100
loin                               92
New Zealand                        86
Cheese                             81
dried                              76
Oil                                75
Australian                         74
cured                              70
bone-in                            70
white                              69
Chicken                            69
round                              68
mature seeds                       63
meat only                          57
Turkey                             57
Beans                              56
Nuts                               52
unprepared                         51
whole                              50
variety meats and by-products      50
Yogurt                             50
Milk                               48
sweet                              45
pork                               45
unheated                           45
steak                              45
chuck                              44
ground                             44
meat and skin                      43
Veal                               43
dry                                42
Spices                             42
drained solids                     42
unsweetened                        40
rib                                39
Potatoes                           37
yellow                             37
fluid                              35
Seeds                              33
raw (Alaska Native)                33
shoulder                           33
mixed species                      33
red                                32
dtype: int64

## Because we are only considering ingredients, we drop the following categories :
* cooked
* roasted
* boiled
* grilled
* braised
* Babyfood
* Soup
* Candies
* Cereals ready-to-eat
* ready-to-serve
* fried
* baked
* pan-fried

In [139]:
to_remove = ["cooked", "roasted", "boiled", "grilled", "braised", "Babyfood", "Soup",
             "Candies", "Cereals ready-to-eat", "ready-to-serve", "fried", "baked", "pan-fried"]

for tr in to_remove :
    food_des = food_des[~food_des["long_description"].str.contains(tr)]
    
food_des.count()

food_id              3111
food_group_id        3111
long_description     3111
short_description    3111
common_names          419
dtype: int64

# Nutrient data

In [12]:
use_cols = [0, 1, 2]

columns = ["food_id", "nutrient_id", "nutr_per_100g"]

nut_data = pd.read_csv(nut_data_path, sep="^", encoding="ISO-8859-1", names=columns, usecols=use_cols, header=None)

nut_data.head()

   food_id  nutrient_id  nutr_per_100g
0     1001          208          717.0
1     1001          262            0.0
2     1001          263            0.0
3     1001          268         2999.0
4     1001          301           24.0

In [13]:
#pivot table to have all nutrients per food_id
nut_data = nut_data.pivot(index='food_id', columns='nutrient_id', values='nutr_per_100g')
nut_data.head(10)

nutrient_id,203,204,205,207,208,209,210,211,212,213,...,696,697,851,852,853,855,856,857,858,859
food_id,,,,,,,,,,,,,,,,,,,,,
1001,0.85,81.11,0.06,2.11,717.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.315,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1002,0.49,78.30,0.00,1.62,731.0,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.285,0.005,0.081,NaN,0.008,NaN,0.020,NaN
1003,0.28,99.48,0.00,0.00,876.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1004,21.40,28.74,2.34,5.11,353.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005,23.24,29.68,2.79,3.18,371.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1006,20.75,27.68,0.45,2.70,334.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1007,19.80,24.26,0.46,3.68,300.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,25.18,29.20,3.06,3.28,376.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1009,22.87,33.31,3.37,3.71,403.0,NaN,0.00,0.26,0.00,0.12,...,NaN,0.0,0.108,0.001,0.036,NaN,0.002,NaN,0.009,NaN
1010,23.37,30.60,4.78,3.60,387.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1011,23.76,32.11,2.57,3.36,394.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1012,11.12,4.30,3.38,1.41,98.0,NaN,0.00,0.00,0.00,2.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1013,10.69,3.85,4.61,1.20,97.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1014,10.34,0.29,6.66,1.71,72.0,NaN,0.00,0.29,0.00,1.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000,NaN
1015,10.45,2.27,4.76,1.27,81.0,NaN,0.00,0.00,0.00,3.87,...,NaN,0.0,0.007,0.000,0.002,NaN,0.000,NaN,0.000,NaN
1016,12.39,1.02,2.72,1.39,72.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1017,6.15,34.44,5.52,1.27,350.0,0.35,0.00,0.00,0.00,3.76,...,NaN,0.0,0.125,0.002,0.036,NaN,0.004,NaN,0.008,NaN
1018,24.99,28.57,1.43,4.22,357.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1019,14.21,21.49,3.88,5.20,265.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1020,25.60,31.14,1.55,3.79,389.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1021,9.65,29.51,42.65,4.75,466.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1022,24.94,27.44,2.22,3.94,356.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023,29.81,32.34,0.36,4.30,413.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1024,20.05,27.25,0.49,3.79,327.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1025,24.48,30.28,0.68,3.55,373.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1026,22.17,22.14,2.40,3.28,299.0,NaN,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1027,21.60,24.64,2.47,2.91,318.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1028,24.26,15.92,2.77,3.27,254.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1029,23.75,19.78,5.58,3.83,295.0,NaN,0.00,0.00,0.00,1.12,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.005,NaN
1030,23.41,30.04,1.12,3.66,368.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43541,4.72,16.98,19.78,1.00,251.0,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43543,1.60,2.00,5.30,1.10,46.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43544,6.60,0.90,88.50,2.00,389.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43546,1.00,0.20,21.34,0.76,91.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43550,0.30,0.20,16.30,0.29,68.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43566,8.70,15.20,73.40,1.85,465.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43570,7.12,5.46,81.19,1.22,401.0,52.93,16.67,0.90,0.57,0.16,...,NaN,0.0,0.089,0.000,0.000,NaN,NaN,NaN,0.003,NaN
43572,12.60,9.50,73.39,1.71,429.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43585,0.50,0.20,17.18,0.52,73.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43589,28.40,5.10,3.40,3.50,179.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43595,4.40,7.50,72.80,0.80,376.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43597,27.50,17.10,3.10,2.40,280.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43598,0.00,77.80,0.30,0.40,688.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44005,0.00,100.00,0.00,0.00,884.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44018,0.00,0.00,76.10,0.00,279.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44061,5.30,2.40,78.20,9.90,356.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44074,0.00,0.00,15.38,0.22,62.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44110,0.30,0.03,46.10,0.08,179.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44158,0.41,0.20,44.38,0.35,181.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44203,0.08,0.01,71.60,0.07,287.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44258,10.08,3.00,74.42,5.70,365.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44259,1.60,0.10,86.04,1.86,351.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44260,0.81,0.90,84.66,6.80,350.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48052,75.16,1.85,13.79,1.00,370.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80200,16.40,0.30,0.00,1.40,73.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83110,18.50,25.10,0.00,13.40,305.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90240,20.54,0.84,5.41,2.97,111.0,3.69,0.00,0.00,0.00,0.00,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.001,NaN
90480,0.00,0.00,73.14,0.86,269.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90560,16.10,1.40,2.00,1.30,90.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93600,19.80,0.50,0.00,1.20,89.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Nutrient definition

In [14]:
use_cols = [0, 1, 2, 3]

columns = ["nutrient_id", "units", "tagname", "description"]

nut_def = pd.read_csv(nut_def_path, sep="^", encoding="ISO-8859-1", names=columns, usecols=use_cols, header=None)

nut_def.head(5)

   nutrient_id units     tagname                  description
0          203     g      PROCNT                      Protein
1          204     g         FAT            Total lipid (fat)
2          205     g      CHOCDF  Carbohydrate, by difference
3          207     g         ASH                          Ash
4          208  kcal  ENERC_KCAL                       Energy

In [15]:
# wtf
nut_def[["description", "tagname"]][80:]

                            description   tagname
80                        Glutamic acid     GLU_G
81                              Glycine     GLY_G
82                              Proline     PRO_G
83                               Serine     SER_G
84                       Hydroxyproline       HYP
85                     Vitamin E, added       NaN
86                  Vitamin B-12, added       NaN
87                          Cholesterol     CHOLE
88             Fatty acids, total trans     FATRN
89         Fatty acids, total saturated     FASAT
90                                  4:0      F4D0
91                                  6:0      F6D0
92                                  8:0      F8D0
93                                 10:0     F10D0
94                                 12:0     F12D0
95                                 14:0     F14D0
96                                 16:0     F16D0
97                                 18:0     F18D0
98                                 20:0     F20D0
99                18:1 undifferentiated     F18D1
100               18:2 undifferentiated     F18D2
101               18:3 undifferentiated     F18D3
102               20:4 undifferentiated     F20D4
103                      22:6 n-3 (DHA)     F22D6
104                                22:0     F22D0
105                                14:1     F14D1
106               16:1 undifferentiated     F16D1
107                                18:4     F18D4
108                                20:1     F20D1
109                      20:5 n-3 (EPA)     F20D5
..                                  ...       ...
119                                17:0     F17D0
120                                24:0     F24D0
121                              16:1 t    F16D1T
122                              18:1 t    F18D1T
123                              22:1 t    F22D1T
124          18:2 t not further defined       NaN
125                              18:2 i       NaN
126                            18:2 t,t   F18D2TT
127                           18:2 CLAs  F18D2CLA
128                              24:1 c    F24D1C
129                        20:2 n-6 c,c  F20D2CN6
130                              16:1 c    F16D1C
131                              18:1 c    F18D1C
132                        18:2 n-6 c,c  F18D2CN6
133                              22:1 c    F22D1C
134                      18:3 n-6 c,c,c  F18D3CN6
135                                17:1     F17D1
136               20:3 undifferentiated     F20D3
137  Fatty acids, total trans-monoenoic    FATRNM
138  Fatty acids, total trans-polyenoic    FATRNP
139                                13:0     F13D0
140                                15:1     F15D1
141                18:3 n-3 c,c,c (ALA)  F18D3CN3
142                            20:3 n-3   F20D3N3
143                            20:3 n-6   F20D3N6
144                            20:4 n-6   F20D4N6
145                               18:3i       NaN
146                                21:5     F21D5
147                                22:4     F22D4
148               18:1-11 t (18:1t n-7)  F18D1TN7

[69 rows x 2 columns]

# food profiles

In [54]:
#ignore this cell
def group_id(group_name) :
    return food_groups.index[food_groups["food_group_name"] == group_name].tolist()[0]


#retrieve nteresting ids
fruits_group_id = group_id("~Fruits and Fruit Juices~")
vegetables_goup_id = group_id("~Vegetables and Vegetable Products~")
spices_group_id = group_id("~Spices and Herbs~")
nut_group_id = group_id("~Nut and Seed Products~")

print("fruit id : ", fruits_group_id)

#retrieve food description
all_fruits_names = food_des[(food_des["food_group_id"] == fruits_group_id)]
all_fruits_names = all_fruits_names[all_fruits_names["short_description"].str.contains("RAW") 
                                   & ~all_fruits_names["short_description"].str.contains("SMOOTHIE")
                                   & ~all_fruits_names["short_description"].str.contains("CND")]

all_fruits_names

fruit id :  ~0900~

,food_id,food_group_id,long_description,short_description,common_names
1745,~09001~,~0900~,"~Acerola, (west indian cherry), raw~","~ACEROLA,(WEST INDIAN CHERRY),RAW~",NaN
1746,~09002~,~0900~,"~Acerola juice, raw~","~ACEROLA JUICE,RAW~",NaN
1747,~09003~,~0900~,"~Apples, raw, with skin (Includes foods for US...","~APPLES,RAW,WITH SKIN~",NaN
1748,~09004~,~0900~,"~Apples, raw, without skin~","~APPLES,RAW,WITHOUT SKIN~",NaN
1749,~09005~,~0900~,"~Apples, raw, without skin, cooked, boiled~","~APPLES,RAW,WO/SKN,CKD,BLD~",NaN
1750,~09006~,~0900~,"~Apples, raw, without skin, cooked, microwave~","~APPLES,RAW,WO/ SKN,CKD,MICROWAVE~",NaN
1764,~09021~,~0900~,"~Apricots, raw~","~APRICOTS,RAW~",NaN
1780,~09037~,~0900~,"~Avocados, raw, all commercial varieties~","~AVOCADOS,RAW,ALL COMM VAR~",NaN
1781,~09038~,~0900~,"~Avocados, raw, California~","~AVOCADOS,RAW,CALIFORNIA~",NaN
1782,~09039~,~0900~,"~Avocados, raw, Florida~","~AVOCADOS,RAW,FLORIDA~",NaN
1783,~09040~,~0900~,"~Bananas, raw~","~BANANAS,RAW~",NaN
1785,~09042~,~0900~,"~Blackberries, raw~","~BLACKBERRIES,RAW~",NaN
1790,~09050~,~0900~,"~Blueberries, raw~","~BLUEBERRIES,RAW~",NaN
1797,~09059~,~0900~,"~Breadfruit, raw~","~BREADFRUIT,RAW~",NaN
1798,~09060~,~0900~,"~Carambola, (starfruit), raw~","~CARAMBOLA,(STARFRUIT),RAW~",NaN
1799,~09061~,~0900~,"~Carissa, (natal-plum), raw~","~CARISSA,(NATAL-PLUM),RAW~",NaN
1800,~09062~,~0900~,"~Cherimoya, raw~","~CHERIMOYA,RAW~",NaN
1801,~09063~,~0900~,"~Cherries, sour, red, raw~","~CHERRIES,SOUR,RED,RAW~",NaN
1807,~09070~,~0900~,"~Cherries, sweet, raw~","~CHERRIES,SWEET,RAW~",NaN
1813,~09077~,~0900~,"~Crabapples, raw~","~CRABAPPLES,RAW~",NaN
1814,~09078~,~0900~,"~Cranberries, raw~","~CRANBERRIES,RAW~",NaN
1818,~09083~,~0900~,"~Currants, european black, raw~","~CURRANTS,EUROPEAN BLACK,RAW~",NaN
1819,~09084~,~0900~,"~Currants, red and white, raw~","~CURRANTS,RED&WHITE,RAW~",NaN
1821,~09086~,~0900~,"~Custard-apple, (bullock's-heart), raw~","~CUSTARD-APPLE,(BULLOCK'S-HEART),RAW~",NaN
1823,~09088~,~0900~,"~Elderberries, raw~","~ELDERBERRIES,RAW~",NaN
1824,~09089~,~0900~,"~Figs, raw~","~FIGS,RAW~",NaN
1841,~09107~,~0900~,"~Gooseberries, raw~","~GOOSEBERRIES,RAW~",NaN
1844,~09111~,~0900~,"~Grapefruit, raw, pink and red and white, all ...","~GRAPEFRUIT,RAW,PINK&RED&WHITE,ALL AREAS~",NaN
1845,~09112~,~0900~,"~Grapefruit, raw, pink and red, all areas~","~GRAPEFRUIT,RAW,PINK&RED,ALL AREAS~",NaN
1846,~09113~,~0900~,"~Grapefruit, raw, pink and red, California and...","~GRAPEFRUIT,RAW,PINK&RED,CALIFORNIA&ARIZONA~",NaN
...,...,...,...,...,...
2001,~09312~,~0900~,"~Rose-apples, raw~","~ROSE-APPLES,RAW~",NaN
2002,~09313~,~0900~,"~Sapodilla, raw~","~SAPODILLA,RAW~",NaN
2003,~09314~,~0900~,"~Sapote, mamey, raw~","~SAPOTE,MAMEY,RAW~","~mamey colorado, marmalade plum~"
2004,~09315~,~0900~,"~Soursop, raw~","~SOURSOP,RAW~",NaN
2005,~09316~,~0900~,"~Strawberries, raw~","~STRAWBERRIES,RAW~",NaN
2007,~09318~,~0900~,"~Strawberries, frozen, unsweetened (Includes f...","~STRAWBERRIES,FRZ,UNSWTND~",NaN
2008,~09320~,~0900~,"~Strawberries, frozen, sweetened, sliced~","~STRAWBERRIES,FRZ,SWTND,SLICED~",NaN
2009,~09321~,~0900~,"~Sugar-apples, (sweetsop), raw~","~SUGAR-APPLES,(SWEETSOP),RAW~",NaN
2010,~09322~,~0900~,"~Tamarinds, raw~","~TAMARINDS,RAW~",NaN
2012,~09326~,~0900~,"~Watermelon, raw~","~WATERMELON,RAW~",NaN
2014,~09334~,~0900~,"~Feijoa, raw~","~FEIJOA,RAW~",NaN
2015,~09340~,~0900~,"~Pears, asian, raw~","~PEARS,ASIAN,RAW~",NaN
2030,~09404~,~0900~,"~Grapefruit juice, pink, raw~","~GRAPEFRUIT JUICE,PINK,RAW~",NaN
2036,~09412~,~0900~,"~Pears, raw, bartlett (Includes foods for USDA...","~PEARS,RAW,BARTLETT~",NaN
2037,~09413~,~0900~,"~Pears, raw, red anjou~","~PEARS,RAW,RED ANJOU~",NaN
2038,~09414~,~0900~,"~Pears, raw, bosc (Includes foods for USDA's F...","~PEARS,RAW,BOSC~",NaN
2039,~09415~,~0900~,"~Pears, raw, green anjou (Includes foods for U...","~PEARS,RAW,GRN ANJOU~",NaN
2043,~09422~,~0900~,"~Durian, raw or frozen~","~DURIAN,RAW OR FROZEN~",NaN
2046,~09427~,~0900~,"~Abiyuch, raw~","~ABIYUCH,RAW~",~garlic pear~
2047,~09428~,~0900~,"~Rowal, raw~","~ROWAL,RAW~",NaN
2048,~09429~,~0900~,"~Pineapple, raw, traditional varieties~","~PINEAPPLE,RAW,TRADITIONAL VAR~",NaN
2049,~09430~,~0900~,"~Pineapple, raw, extra sweet variety~","~PINEAPPLE,RAW,EX SWT VAR~",NaN
2050,~09433~,~0900~,"~Clementines, raw~","~CLEMENTINES,RAW~",NaN
2065,~09500~,~0900~,"~Apples, raw, red delicious, with skin (Includ...","~APPLES,RAW,RED DELICIOUS,W/ SKN~",NaN
2066,~09501~,~0900~,"~Apples, raw, golden delicious, with skin~","~APPLES,RAW,GOLDEN DELICIOUS,W/ SKN~",NaN
2067,~09502~,~0900~,"~Apples, raw, granny smith, with skin (Include...","~APPLES,RAW,GRANNY SMITH,W/ SKN~",NaN
2068,~09503~,~0900~,"~Apples, raw, gala, with skin (Includes foods ...","~APPLES,RAW,GALA,W/ SKN~",NaN
2069,~09504~,~0900~,"~Apples, raw, fuji, with skin (Includes foods ...","~APPLES,RAW,FUJI,W/ SKN~",NaN
2083,~09520~,~0900~,"~Kiwifruit, ZESPRI SunGold, raw~","~KIWIFRUIT,ZESPRI SUNGOLD,RAW~",~Gold3~
2092,~09542~,~0900~,"~Plantains, green, raw~","~PLANTAINS,GRN,RAW~",NaN